html {
  background: black;
  font-size: 16px;
  user-select: none;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

canvas {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
}

.hidden {
  display: none;
}

.content {
  color: white;
  padding: 1rem;
  font-size: 8rem;
  overflow-y: auto;
  text-transform: lowercase;
  background: rgba(0, 0, 0, .5);
}

.content > div:not(:last-of-type) {
  margin-bottom: 8rem;
}

.content__smaller {
  font-size: 3rem;
}

.content__smallest {
  font-size: 2rem;
}

.info {
  position: fixed;
  color: white;
  bottom: calc(1rem - 10px);
  left: 1rem;
  opacity: 0;
}

.call-to-action {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  color: white;
}

.call-to-action--desktop {
  display: block;
}

.call-to-action--mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .call-to-action--desktop {
    display: none;
  }

  .call-to-action--mobile {
    display: block;
  }
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: line-through;
}
